*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.text{
    font-family: 'Ubuntu', sans-serif;
}

#title{
    color: deeppink;
    font-weight: 900;
    padding: 50px;
}